:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.25em;
}

h4{
  font-size: 0.8em;
}

.boardContainer{
  display: grid;
  grid-template: repeat(4,1fr)/repeat(3,1fr);
  max-width: 90%;
  width: 90%;
  gap:2.5rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.card{
  border: 3px solid white;
  padding:0.25rem;
  height:100%;
}

.cardImage{
  max-width: 100%;
  max-height: 12rem;
  height:auto;
  width:auto;
  object-fit: contain;
}

.headerContainer{
  padding:0;
}

.headerContainer > img{
  max-width: 100%;
  max-height: 15rem;
  width:100%;
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .card{
    border: 3px solid black
  }
}

@media only screen and (max-width: 768px){

  .headerContainer > img{
    max-height: 10rem;
    max-width: 100%;
    height:auto;
    width: 100%;
    
  }

  h1{
    font-size:2.25rem;
    font-weight: 1500;
  
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.75rem;
  }

  .boardContainer{
    display: grid;
    grid-template: repeat(6,1fr)/repeat(2,1fr);
    gap:1.5rem;
    max-width: 90%;
    width: 90%;
  }

}